@import 'variables';

header{
    position: sticky;
    top: 0;
    z-index: 100;

    > div.auth-state{
        background-color: green; 
        color:white; 
        font-weight:400; 
        text-align:center;
    }
}

nav{
    background-color:rgb(94, 85, 85);
    font-weight: 500;
    //font-size: large;
}

