// index page: affichage des projets 
div.list-p{
    margin: 1em;

    div{
        display: inline;
        word-spacing: 3px;
        text-transform: capitalize;
    }    
}

// show page: affichage d'un projet
div.show-p{
    padding-bottom: 20px;

    div{
        font-size: medium;
        line-height: 40px;
        .label{
            font-weight: bolder;
        }
    }
    
}
