// Header
@use 'header'; 
// Home Page
@use 'home';
// Index and Show Pages
@use 'projets';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
    box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(74, 124, 149, 0.779);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(74, 124, 149);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(41, 114, 151);
}

body{
    font-family: $font-body;
    height: 1800px;

    .main{
        background-color: $body-bg;
    }
}



// tableau de la page de recherche 
ul.list-e{
    list-style-type: circle;
    margin: 0;
}


// formulaire de creation
div.formulaire{
    width: 95%;
}

div.sujet{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

div.show-b *{
    font-weight: 500;
}