// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body.main{
    background-color: whitesmoke;
    height: 2000px;
}
nav{
    background-color: lightgrey;
}

ul.list-e{
    list-style-type: circle;
}

div.create-form{
    width: 95%;
}

div.list-p{
    width: 90%;
}

div.list-p  div{
    display: inline;
    word-spacing: 3px;
    text-transform: capitalize;
}

div.show{
    padding-bottom: 20px;

    div{
        font-size: medium;
    }
    
}

div.sujet{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
