// Header
@use 'header'; 
// Home Page
@use 'home';
// Index and Show Pages
@use 'projets';

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



body{
    font-family: 'Roboto', sans-serif;
    height: 1800px;

    .main{
        background-color: $body-bg;
    }
}



// tableau de la page de recherche 
ul.list-e{
    list-style-type: circle;
    margin: 0;
}


// formulaire de creation
div.formulaire{
    width: 95%;
}

div.sujet{
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

div.show-b *{
    font-weight: 500;
}