* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    box-sizing: border-box;
}

body{
    background:url(img.jpg) no-repeat;
    height:100vh;
    background-size: cover;
    background-position: center;
    /* height: 2000px; */
}

header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 4%;
    background: rgba(0, 0,0,0.5);
}

.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 25px;
}

a,button{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor:pointer;
}

button{
    background: rgba(0, 0,0,0.2);
    border:2px solid black;
    border-radius: 50px;
    padding: 9px 25px;
}

nav li a:hover{
    color: black;
    transition: all 0.4s ease 0s;
}

button:hover{
    background-color: black;
    transition: all 0.4s ease 0s;
}

div.desc{
    position: absolute;
    bottom: 60px;
    left: 40px;
    background-color: #3a9cb578;
    width: 300px;
    color: #fff;
    padding: 5px 10px;
}